.MuiSelect-outlined.MuiSelect-outlined {
    padding-right: 12px !important;
  }

.MuiSelect-iconOutlined {
    width: 0 !important;
    display: none !important;
}

.MuiSelect-select {
    min-width: 120px !important;
}